@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Cores para o tema padrão */
:root {
    --primary-color: #fcfcfc; 
    --secondary-color: #626a70; /* cor principal dark-mode */
    --tertiary-color: #3FA2F6; 
    --text-color: #0F67B1; 
    --dark-mode: #000;
    --nav-color: #FAFFAF; 
}

/* Cores para o dark mode */
:root.dark-mode {
    --primary-color: #31616e; 
    --secondary-color: #0F67B1; 
    --tertiary-color: #20c997; 
    --text-color: #0F67B1; 
    --dark-mode: #000;
}

* {
    margin: 0;
    padding: 0;
}
.container.active {
    background: var(--secondary-color);
}

  .btn {
    width: 60px;
    height: 20px;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 0 3px var(--dark-mode);
    margin-top: 10px;
    
    
}

.btn:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: left .5s;
    box-shadow: 0 0 0 3px var(--dark-mode);
}

.btn.active:before {
    left: 42px;
}




@media(max-width: 991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Estilização do Navbar */
.navbar {
    font-weight: 700; /* Texto em negrito */
    font-size: 24px;
}

.navbar-nav .nav-link {
    /* Estilos para os links do navbar */
    color: #000000; /* Cor dos links */
}

.navbar-nav .nav-link:hover {
    /* Estilos para os links do navbar no hover */
    color: #4485c7; /* Cor dos links no hover */
}

/* modo dark mode */
.container {
    background: var(--primary-color);
    transition: background .5s;
   
}

.sobre h1 {
    margin-top: 40px;
    text-align: center;
}

.sobre p {
    text-align: center;
}